body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
     background-color: white;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     position: absolute;
     background-size: cover;

}
.left{
     background-color: rgba(7, 151, 247, 0.5);
     height: 90%;
     width: 50%;
     background-image: url(img/twitter-logo-png-twitter-logo-vector-png-clipart-library-518.png);
     background-size: 960px;
    background-repeat: no-repeat;
    background-position-y: -180px;
    background-position-x: 70px;

     }
     .img{
        
        height: 0.5cm;
        width: 0.6cm;
        margin-top: 5cm;
        margin-left: 4cm;
     }
.img2{
    height: 0.5cm;
        width: 0.6cm;
        margin-top: 1cm;
        margin-left: 4cm;
      
}
.img3{
    height: 0.5cm;
        width: 0.6cm;
        margin-top: 1cm;
        margin-left: 4cm;
    
}
.right{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50%;
    margin-top: 3cm;

    background-color: white
}

.imgleft{
background-size: 1cm;height: 1cm;
}
.sign{
    width: 10cm;
    height: 1.1cm;
    color: white;
    background-color: rgba(0, 0, 255, 0.712);
    border: 0;
    border-radius: 20px;
}
.login{
    width: 10cm;
    height: 1.1cm;
    color: blue;
    background-color: white;
    border: 0;
    border-radius: 20px;
    border: 2px rgba(0, 0, 255, 0.795) solid;

}
.form{
    margin-left: 4cm;
}